@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}


<div>
    <form method="post">
        <input id="searchTxt" type="search" />
        <button id="searchBtn" type="button">Search</button>
    </form>
    <button id="newBtn" type="button">New</button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: { search : searchValue }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            }).fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>