
@{
    ViewBag.Title = "Create";

    var imageURL = "/Content/images/defaultimage.jpg";
}

<h2>Create Category</h2>

@*<form method="post">
        <label>Name</label>
        <input name="Name" />
        <br />
        <label>Description</label>
        <input name="Description" />
        <br />
        <label>Image</label>
        <input id="ImageURL" name="ImageURL" type="hidden" />
        <input id="imageUpload" name="Image" type="file" accept=".png .jpg" />

        <div class="thumb">
            <img id="categoryImage" />
        </div>
        <br />

        <label>Is Featured</label>
        <input name="isFeatured" type="radio" value="True" /> True
        <input name="isFeatured" type="radio" value="False" /> False
        <br />
        <button type="submit">Save</button>

    </form>*@

<form id="createCategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" class="form-control" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <div class="form-group">
                <label>Is Featured</label>
                <div class="input-group">
                    <div class="form-control radio">
                        <label><input name="isFeatured" type="radio" value="True" /> True</label>
                    </div>
                    <div class="form-control radio">
                        <label><input name="isFeatured" type="radio" value="False" /> False</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
            </div>
        </div>
    </div>

    <button id="saveBtn" class="btn btn-primary" type="button">Save</button>
    <button id="cancelBtn" class="btn btn-primary" type="button">Cancel</button>
</form>

<script>
    $("#imageUpload").change(function () {
        /*debugger;*/
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            data: formData,
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            contentType: false,
            processData: false
        }).done(function (response) {
            /*debugger;*/
            console.log(response);

            if (response.Success == true) {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        })
    });

    $('#createCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 500'
            }
        }
    });



    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Category")',//'/Category/Create',
                data: $("#createCategory").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer");
                }).fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    swal({
                        title: "Something went wrong",
                        text: "please enter reqiuried ddteials",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else
        {
            swal({
                title: "JS Something went wrong",
                text: "please enter reqiuried ddteials",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
        
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>