@model ResultULIPViewModel

<br />
<br />
<div class="form-control">
    <h2>Quotation - </h2>
    <hr />
    <div class="form-control">
        <div class="row">
            <div class="col-sm-4">
                <h2>PPT</h2>
                <label>@Model.PremiumPaymentTerm[0]</label>
            </div>
        </div>
    </div>
    <br />
    <div class="form-control">
        <div class="row">
            <div class="col-sm-3">
                <h2>Frequency</h2>
                <label>FREQVALUE</label>

            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <h2>Sum Assured</h2>
                <label>SAVALUE</label>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <h2>PREMIUM</h2>
                <label>PREMIUMVALUE</label>
            </div>
        </div>
    </div>

</div>
